
/*
 *
 * Top Level Navigation
 *
 */

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


nav li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0 1px;
  margin: 0 5px 0 0;
  padding: 7px;
  padding-bottom: 17px;
  background-color: #555;
  min-height: 30px;
  line-height: 30px;
}

.selected {
  padding-bottom: 19px;
  background: white;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.content {
  border: solid;
  border-width: 1px 0 0 0;
}

.container{
   display: flex;
   width: 100%;
   margin: 0 0 2px 0;
}

@media screen and (max-width: 325px) {
  .container{
    display: block;
  }
  .inner {
    order: 1;
  }
  .nav {
    order: 2;
  }
  .nav.show{
    display: block;
  }
  .nav.hide{
    display: none;
  }
  .nav__item {
    width: 100%;
    max-widwth: 100%;
    display: block;
    min-height 40px;
    line-height: 40px;
    padding: 10px;
  }
  .nav__item_sub {
    width: 50%;
    max-widwth: 50%;
    display: inline;
    min-height 40px;
    line-height: 40px;
    padding: 10px;
  }
}

@media screen and (min-width: 325px){
  .burgermenu{
    display: none;
  }
  .inner{
    order: 2;
  }
  .nav{
    width: 100%;
    order: 1;
  }
}

      .inner {
	float: right;
	height: 40px;
      }
      .burgermenu{
	float: right;
	  height: 100%;
	width: 50px;
	background-color: red;
      }
      .burger {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 7px;
      }

.divflow {
  display: flex;
}
.divgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 100px;
}
.twothirds {
  width: 66%;
}
.divright {
  float: right;
}
.divtop {
  vertical-align: top;
}

.divtitle {
  font-size: 1.5em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
